@model AniWebApp.Models.AddFrostRecordModel

@{
    ViewBag.Title = "Add Frost Entry";
    ViewBag.BreadcrumbTitle = "Add Entry";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section breadcrumbs
{
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
    <li><a href="@Url.Action("Home", "Weather")">Weather</a></li>
    <li><a href="@Url.Action("Frost", "Weather")">Frost</a></li>
}

<div class="alert alert-info">
    <p>Please enter records of frost observed on a given day with the zip code the frost was observed in.</p> <br/>
    <p>Records will only be preserved for days and zip codes where weather predictions were entered.</p>
</div>

@using (Html.BeginForm("AddFrostEntry", "Weather", new { }, FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.RecordDate, new { @class = "form-label" })<br />
        @Html.TextBox("RecordDate", Model.RecordDate.ToShortDateString(), new { @class = "form-control datefield"})
        @Html.ValidationMessageFor(m => m.RecordDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ZipCode, new { @class = "form-label" })<br />
        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RainedOvernight, new { @class = "form-label" })<br />
        @Html.CheckBoxFor(m => m.RainedOvernight)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SnowedOvernight, new { @class = "form-label" })<br />
        @Html.CheckBoxFor(m => m.SnowedOvernight)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ActualMinutes, new { @class = "form-label" })<br />
        @Html.TextBoxFor(m => m.ActualMinutes, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ActualMinutes, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a href="@Url.Action("Frost", "Weather")" class="btn btn-default">Cancel</a>
}