@using AniWebApp.Helpers
@using Microsoft.Ajax.Utilities
@model AniWebApp.Models.Weather.WeatherHomeModel

@{
    ViewBag.Title = "Weather for " + @Model.ZipCode;
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
    <li class="active">Weather</li>
</ol>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<h2>Current Weather</h2>

@if (Model.Conditions == null)
{
    <div class="alert alert-danger">
        Weather is not available. The requested area may not be within the service area.
    </div>
}
else
{
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="panel @Html.GetPanelClass(Model.Conditions.SeverityId)">
                <div class=" panel-heading">
                    @DateTime.Today.ToString("ddd M/d")
                </div>
                <div class="panel-body">
                    <br />
                    <i class="fa fa-3x @Model.Conditions.IconClass"></i><br />
                    @(Model.Conditions.Description.IsNullOrWhiteSpace() ? Model.Conditions.WeatherCodeName : Model.Conditions.Description)
                    <br />
                    <br />
                </div>
                <div class="panel-footer">
                    Temp: @Model.Conditions.Temperature&deg;
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Details
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <br/>
                            <dl class="dl-horizontal">
                                <dt>Windchill:</dt>
                                <dd>@Model.Conditions.WindChill&deg;</dd>
                                <dt>Wind:</dt>
                                <dd>@Model.Conditions.WindDirection&deg; at @Model.Conditions.WindSpeed mph</dd>
                                <dt>Sunrise:</dt>
                                <dd>@Model.Conditions.Sunrise</dd>
                                <dt>Sunset:</dt>
                                <dd>@Model.Conditions.Sunset</dd>
                                <dt>Humidity:</dt>
                                <dd>@Model.Conditions.Humidity%</dd>
                            </dl>
                        </div>
                        <div class="col-xs-6">
                            <br/>
                            <dl class="dl-horizontal">
                                <dt>Visibility:</dt>
                                <dd>@Model.Conditions.Visibility mi</dd>
                                <dt>Pressure:</dt>
                                <dd>@Model.Conditions.Pressure&deg;</dd>
                                <dt>UV Index:</dt>
                                <dd>@Model.Conditions.Rising</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Weather Data
                </div>
                <div class="panel-body">
                    <br/>
                    <i class="fa fa-3x fa-refresh"></i><br/>
                    <br/>
                    Data updates every hour.
                </div>
                <div class="panel-footer">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Forecasts != null && Model.Forecasts.Any())
{
    <h2>Forecast</h2>

    <div class="row">

        @foreach (var m in Model.Forecasts.Take(5))
        {
            <div class="col-md-2 text-center">
                <div class="panel @Html.GetPanelClass(m.SeverityId)">
                    <div class="panel-heading">
                        @m.ForecastDate.ToString("ddd M/d")
                    </div>

                    <div class="panel-body">
                        <br />
                        <i class="fa fa-3x @m.IconClass"></i><br />
                        @(m.Description.IsNullOrWhiteSpace() ? m.WeatherCodeName : m.Description)
                        <br />
                        <br />
                    </div>
                    <div class="panel-footer">
                        Temp: <span class="blue">@m.Low&deg;</span> / <span class="red">@m.High&deg;</span> <br />
                        @if (m.MinutesToDefrost.HasValue)
                    {
                        if (m.MinutesToDefrost <= 0)
                        {
                                @:No Frost
                        }
                        else
                        {
                                @m.MinutesToDefrost.Value.ToString("0 Mins Frost")
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="alert alert-warning">
                <p>
                    Frost Time is still in early development as a neural network is still being trained as data accumulates. Predictions may be comically bad during this time.
                </p>
                <br />
                <a class="btn btn-primary" href="@Url.Action("Frost", "Weather")">
                    View Frost Data
                </a>
            </div>
        </div>
    </div>

}
