@model IList<ActiveWeatherPredictionsSelect_Result>

@{
    ViewBag.Title = "Weather Forecasts for 43035";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
    <li class="active">Weather</li>
</ol>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

@if (!Model.Any())
{
    <p class="alert alert-danger">
        No forecasts have been recorded. This area may be outside of the service area.
    </p>
}
else
{
    <div class="row">

        @foreach (var m in Model.Take(5))
        {
            <div class="col-md-2 text-center">
                <div class="panel @if (m.SeverityID >= 3)
                                  {@Html.Raw("panel-danger")
                                  }
                                  else if (m.SeverityID >= 2)
                                  {
                                      @Html.Raw("panel-warning")
                                  }
                                  else
                                  {
                                      @Html.Raw("panel-info")
                                  }  ">
                    <div class="panel-heading">
                        @m.PredictionDateUTC.ToString("ddd M/d")
                    </div>

                    <div class="panel-body">
                        <br />
                        <i class="fa fa-3x @m.IconClass"></i><br />
                        @m.WeatherCodeName<br />
                        <br />
                    </div>
                    <div class="panel-footer">
                        Temp: <span class="blue">@m.Low</span> / <span class="red">@m.High</span> <br />
                        @if (m.MinutesToDefrost.HasValue)
                        {
                            if (m.MinutesToDefrost <= 0)
                            {
                                @Html.Raw("No Frost")
                            }
                            else
                            {
                                @m.MinutesToDefrost.Value.ToString("0 Mins Frost")
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="alert alert-warning">
                <p>
                    Frost Time is still in early development as a neural network is still being trained as data accumulates. Predictions may be comically bad during this time.
                </p>
                <br />
                <a class="btn btn-default" href="@Url.Action("Frost", "Weather")">
                    View Frost Data
                </a>
                <a class="btn btn-default" href="@Url.Action("AddFrostEntry", "Weather")">
                    Add Frost Entry
                </a>
            </div>
        </div>
    </div>

}
