@model IList<WeatherFrostPredictionsVsActualsSelect_Result>

@{
    ViewBag.Title = "Frost Predictions and Observations";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
    <li><a href="@Url.Action("Forecasts", "Weather")">Weather</a></li>
    <li class="active">Frost</li>
</ol>

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>


@if (!Model.Any())
{
    <p class="alert alert-danger">
        No frost observations have been recorded.
    </p>
}
else
{
    <div class="panel panel-default">

        <div class="panel-heading">
            Weather Forecast
        </div>

        <div class="panel-body">

            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Zip</th>
                    <th>Low</th>
                    <th>High</th>
                    <th>Conditions</th>
                    <th>Predicted Minutes</th>
                    <th>Actual Minutes</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>
                            @m.PredictionDateUTC.ToShortDateString()
                        </td>
                        <td>
                            @m.ZipCode
                        </td>
                        <td class="blue">
                            @m.Low
                        </td>
                        <td class="red">
                            @m.High
                        </td>
                        <td>
                            @m.WeatherCodeName
                        </td>
                        <td>
                            @if (m.PredictedMinutes != null)
                            {
                                if (m.PredictedMinutes > 0)
                                {
                                    @m.PredictedMinutes.Value.ToString("0.0 Minutes")
                                }
                                else
                                {
                                    <text><span class="text-muted">No Frost</span></text>
                                }
                            }
                            else
                            {
                                <text><span class="text-danger">Not Available</span></text>
                            }
                        </td>
                        <td>
                            @if (m.ActualMinutes != null && m.ActualMinutes > 0)
                            {
                                @m.ActualMinutes.Value.ToString("0.0 Minutes")
                            }
                            else
                            {
                                <text><span class="text-muted">No Frost</span></text>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <a class="btn btn-primary" href="@Url.Action("AddFrostEntry", "Weather")">
        Add Frost Entry
    </a>

}
