@using AniWebApp.Helpers
@using Microsoft.Ajax.Utilities

@model Ani.Core.Models.Weather.WeatherHomeModel

@{
    ViewBag.Title = "Weather for " + @Model.ZipCode; ;
    ViewBag.BreadcrumbTitle = "Weather";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section heading {
    @Styles.Render("~/content/weather-icons.min.css")
}

<h2>Current Weather</h2>

@if (Model.Conditions == null)
{
    <div class="alert alert-danger">
        Weather is not available. The requested area may not be within the service area.
    </div>
}
else
{
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="panel active @Html.GetPanelClass(Model.Conditions.SeverityId, defaultClass: "panel-primary")">
                <div class=" panel-heading">
                    @DateTime.Today.ToString("ddd M/d")
                </div>
                <div class="panel-body tile-panel-tall @Html.GetTextClass(Model.Conditions.SeverityId)">
                    <br />
                    <i class="fa-3x @Model.Conditions.IconClass"></i><br />
                    <br />
                    @(Model.Conditions.Description.IsNullOrWhiteSpace() ? Model.Conditions.WeatherCodeName : Model.Conditions.Description)
                </div>
                <div class="panel-footer active">
                    Temp: <span class="label @Html.GetLabelClass(Model.Conditions.SeverityId, defaultClass: "label-primary")">@Model.Conditions.Temperature&deg;</span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel @Html.GetPanelClass(Model.Conditions.SeverityId, defaultClass: "panel-primary")">
                <div class="panel-heading">
                    Details
                </div>
                <div class="panel-body tile-panel-tall-no-footer row">
                    <div class="col-sm-6">
                        <table class="table table-condensed table-no-lines">
                            <tbody>
                                <tr>
                                    <td class="text-right">Windchill</td>
                                    <td>@Model.Conditions.WindChill&deg;</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Wind</td>
                                    <td>@Model.Conditions.WindSpeed mph - @Model.Conditions.WindCardinalDirection</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Sunrise</td>
                                    <td>@Model.Conditions.Sunrise</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Sunset</td>
                                    <td>@Model.Conditions.Sunset</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Humidity</td>
                                    <td>@Model.Conditions.Humidity</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-condensed table-no-lines">
                            <tbody>
                                <tr>
                                    <td class="text-right">Visibility</td>
                                    <td>@Model.Conditions.Visibility mi</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Pressure</td>
                                    <td>@Model.Conditions.Pressure in</td>
                                </tr>
                                <tr>
                                    <td class="text-right">UV Index</td>
                                    <td>@Model.Conditions.Rising</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Forecasts != null && Model.Forecasts.Any())
{
    <h2>Forecast</h2>

    <div class="row">

        @foreach (var m in Model.Forecasts.Take(5))
        {
            <div class="col-md-2 text-center">
                <div class="panel @Html.GetPanelClass(m.SeverityId)">
                    <div class="panel-heading">
                        @m.ForecastDate.ToString("ddd M/d")
                    </div>

                    <div class="panel-body tile-panel @Html.GetTextClass(m.SeverityId)">
                        <i class="wi fa-3x @m.IconClass"></i><br />
                        <br />
                        @(m.Description.IsNullOrWhiteSpace() ? m.WeatherCodeName : m.Description)
                    </div>
                    <div class="panel-footer">
                        <small>
                            Temp: <span class="label label-info">@m.Low&deg;</span>-<span class="label label-danger">@m.High&deg;</span> <br />
                            @if (m.MinutesToDefrost.HasValue)
                            {
                                if (m.MinutesToDefrost <= 0)
                                {
                                    @:No Frost
                            }
                                else if (m.MinutesToDefrost <= 1.5)
                                {
                                    @:1 min Frost
                            }
                                else
                                {
                                    @m.MinutesToDefrost.Value.ToString("0 mins Frost")
                                }
                            }
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="alert alert-warning">
                <p>
                    Frost Time is still in early development as a neural network is still being trained as data accumulates.
                    Predictions may be comically bad during this time. 
                </p>
            </div>
            <a class="btn btn-default" href="@Url.Action("Frost", "Weather")">
                View Frost Data
            </a>
        </div>
    </div>

}
