@model Ani.Core.Models.Metrics.UserRatingHistoryEntry

@{
    ViewBag.Title = "Edit Rating";
    ViewBag.BreadcrumbTitle = "Edit";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section breadcrumbs
{
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
    <li><a href="@Url.Action("Index", "Ratings")">Ratings</a></li>
    <li><a href="@Url.Action("History", "Ratings", new { ratingId = @Model.Rating.Id})">@Model.Rating.Name</a></li>
    <li><a href="@Url.Action("ViewEntry", "Ratings", new {
                                                    ratingId = Model.Rating.Id,
                                                    year = Model.EntryDate.Year,
                                                    month = Model.EntryDate.Month,
                                                    day = Model.EntryDate.Day
                                                })">@Model.EntryDate.ToShortDateString()</a>
    </li>
}

<div class="media">
    <div class="media-left">
        <i class="fa fa-2x media-object @Model.Rating.IconClass"></i>
    </div>
    <div class="media-body">
        Edit your existing @Model.Rating.Name rating and click Save to update the entry.
    </div>
</div>

<hr />

@using (Html.BeginForm("EditEntryPost", "Ratings", null, FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CreatedTimeUTC)
    @Html.HiddenFor(m => m.ModifiedTimeUTC)

    Html.RenderPartial("_RatingAddEditFieldsPartial", Model);

    <input type="submit" value="Save" class="btn btn-primary" />
    <a href="@Url.Action("ViewDailyEntries", "Ratings")" class="btn btn-default">Cancel</a>
}