@model Ani.Core.Models.Metrics.RatingsModel

@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";
    ViewBag.Title = "Ratings";
    ViewBag.Lead = "Graphing life over time";
    ViewBag.ListNoItemsMessage = "No ratings have been defined.";
    ViewBag.ListTitle = "Ratings";
    ViewBag.HasListItems = @Model.Ratings.Any();
}

@section breadcrumbs
{
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
}

@section top_content
{
    <p>
        Ratings will allow users to track various ratings over time in their lives to get a visual indication of progress over time and to look for correlations between different types of items (e.g. Weather and Mood, Sleep and Energy, etc.)
    </p>

    <hr />
}

@section table_headers
{
    <th>Name</th>
    <th>Description</th>
    <th>Last Rating</th>
    <th>Actions</th>
}

@section table_body
{
    @foreach (var rating in Model.Ratings)
    {
        <tr>
            <td class="text-center">
                <i class="fa fa-2x fa-fw @rating.IconClass"></i><br />
                <strong>@rating.RatingName</strong>
            </td>
            <td>
                @rating.Description
            </td>
            <td>
                @rating.LastRating
            </td>
            <td>
                @Html.ActionLink("History", "History", new {RatingId = @rating.RatingId})<br/>
                @Html.ActionLink("Add Entry", "AddEntry", new { RatingId=@rating.RatingId})
            </td>
        </tr>
    }

}
