@using System.Globalization
@using Ani.Core
@model Ani.Core.Models.Metrics.DailyRatingsModel

@{
    ViewBag.Title = "View Daily Entries";
    ViewBag.BreadcrumbTitle = Model.Date.ToShortDateString();
    ViewBag.Lead = "This contains rating entries for you on " + Model.Date.ToLongDateString();
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section breadcrumbs
{
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
    <li><a href="@Url.Action("Index", "Ratings")">Ratings</a></li>
}

@section header_side_content
{
    @Html.ActionLink("Prev", "ViewDailyEntries", new { year=Model.Date.AddDays(-1).Year, month = Model.Date.AddDays(-1).Month, day = Model.Date.AddDays(-1).Day }, new {@class="btn btn-default"})
    @Html.ActionLink("Next", "ViewDailyEntries", new { year=Model.Date.AddDays(1).Year, month = Model.Date.AddDays(1).Month, day = Model.Date.AddDays(1).Day }, new { @class = "btn btn-default" })
}

<h2>Ratings</h2>

<div class="row">

    @foreach (var rating in Model.Ratings)
    {
        <div class="col-md-3 col-sm-4">

            <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw @rating.IconClass"></i> @rating.Name</h3>
            </div>

            <div class="panel-body tile-panel-tall">
                @{
                    var entry = Model.HistoryEntries.FirstOrDefault(e => e.Rating.Id == rating.Id);
                    if (entry != null)
                    {
                        // Render Star Ratings
                        <p>
                            @for (int i = rating.MinValue; i <= rating.MaxValue; i++)
                            {
                                if (i <= entry.RatingValue)
                                {
                                    @:<i class="fa fa-star text-primary"></i>
                                }
                                else
                                {
                                    @:<i class="fa fa-star-o"></i>
                                }
                            }

                            @* Render comments (if present) *@
                            @if (!string.IsNullOrWhiteSpace(entry.Comments))
                            {
                                <i class="fa fa-fw fa-comment-o" title="@entry.Comments"></i>
                            }
                        </p>


                        <p>On @entry.CreatedTimeUTC.ToLocalTime().ToString(CultureInfo.CurrentCulture)</p>


                        @Html.ActionLink("View Details", "ViewEntry", new { ratingId = @rating.Id})
                    }
                    else
                    {
                        <p>No Rating</p>

                        @Html.ActionLink("Add Entry", "AddEntryForDate", new { RatingId = @rating.Id })
                    }
                }

                </div>
            </div>
        </div>
    }

</div>