@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section heading {
    <script type="text/javascript" src="~/scripts/easySlider1.7.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".slider").easySlider({
                auto: true,
                continuous: true,
                pause: 5000,
                controlsShow: false
            });
        });
    </script>

    <style type="text/css">

        /* Phone screenshot Slider */
         .phonescreens {
             background:transparent url(@Url.Content("~/images/phonebackground.png")) no-repeat;
             height:800px;
             margin-bottom: -200px;
         }

        .slider ul, .slider li {
            margin:0;
            padding:0;
            list-style:none;
        }

        .slider li {
            width:240px;
            height:400px;
            overflow:hidden;
        }

		.phonescreens .slider {
		    -moz-box-shadow: 0px 0px 3px #333333;
			-webkit-box-shadow: 0px 0px 3px #333333;
		    -ms-box-shadow: 0px 0px 3px #333333;
		    box-shadow: 0px 0px 3px #333333;
		}
    </style>
}

@section breadcrumbs
{
<li><a href="@Url.Action("Index", "Apps")">Apps</a></li>
}

@section header_side_content {
    <a class="btn btn-primary btn-block" href="@ViewBag.DownloadUrl">Download</a>
}

<hr/>

<div class="row">
    <div class="col-md-5 col-sm-6">
        <div class="phonescreens">
            <div class="slider" style="margin-left: 50px; padding-top: 56px;">
                <ul>
                    @RenderSection("AppScreens", true)
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-7 col-sm-6">
        <div>
            <h2>Features</h2>
            <ul>
                @RenderSection("AppFeatures", true)
            </ul>
        </div>

        <br />
        <div>
            <h2>User Quotes</h2>

            @RenderSection("AppQuotes", true)
        </div>

    </div>
</div>
