@{
    ViewBag.Title = "My Apps";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">Apps</li>
</ol>

<div class="page-header">
    <h1>@ViewBag.Title</h1>

    <p class="lead">
        These are ministry and utility apps I've written for Windows Phone. They are currently available in the Windows
        Marketplace and work on Windows Phone 7, 8, and 8.1.
    </p>

</div>

<div class="row">
    <div class="col-md-6">
        <h3>Featured Apps</h3>
        <div class="media-list">
            <div class="media">
                <div class="media-left">
                    <img src="@Url.Content("~/Images/SeekingGod99.png")" alt="Seeking God"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@Html.ActionLink("Seeking God", "SeekingGod", "Apps")</h4>
                    An interactive gospel presentation for Windows Phone
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="@Url.Content("~/Images/SeekingJesus99.jpg")" alt="Seeking Jesus"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@Html.ActionLink("Seeking Jesus", "SeekingJesus", "Apps")</h4>
                    A guide to who Jesus was, what he said and did and what that means.
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="@Url.Content("~/Images/LifeLights99.png")" alt="Life Lights"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@Html.ActionLink("Life Lights", "LifeLights", "Apps")</h4>
                    Helps you visually track and prioritize the ongoing tasks in your life
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Other Apps</h3>
        <div class="media-list">
            <div class="media">
                <div class="media-left">
                    <img src="@Url.Content("~/Images/WheelOfNames99.png")" alt="Seeking God"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="http://www.windowsphone.com/en-us/store/app/wheel-of-names/a7255969-157d-e011-986b-78e7d1fa76f8">Wheel of Names</a>
                    </h4>
                    A quick and fun random name generator
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="@Url.Content("~/Images/TaskEstimator99.png")" alt="Task Estimator"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="http://www.windowsphone.com/en-us/store/app/task-estimator/188fe1c3-aa31-e011-854c-00237de2db9e">Task Estimator</a>
                    </h4>
                    Build PERT and agile task estimates
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="@Url.Content("~/Images/DailyQuestions99.png")" alt="Daily Questions"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="http://www.windowsphone.com/en-us/store/app/daily-questions/1446afee-c12c-e011-854c-00237de2db9e">Daily Questions</a>
                    </h4>
                    Ask yourself daily motivational questions
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="@Url.Content("~/Images/RunningLate99.png")" alt="I'm Running Late"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="http://www.windowsphone.com/en-us/store/app/i-m-running-late/60bff399-8159-4bb3-9b6a-647e4077e4f7">I'm Running Late</a>
                    </h4>
                    Quickly let others know you'll be late
                </div>
            </div>
        </div>
        </div>
</div>
