@{
    ViewBag.Title = "Apps";
    ViewBag.Lead = "These are ministry and utility apps I've written for Windows Phone. They are currently available in the Windows Marketplace and work on Windows Phone 7, 8, and 8.1.";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section header_side_content
{
    @Html.ActionLink("Projects Home", "Index", "Projects", null, new { @class = "btn btn-primary" })
}

<h2>Featured Apps</h2>

<div class="row well">
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <img src="@Url.Content("~/Images/SeekingGod99.png")" alt="Seeking God" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Html.ActionLink("Seeking God", "SeekingGod", "Apps")</h4>
                An interactive gospel presentation for Windows Phone
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <img src="@Url.Content("~/Images/SeekingJesus99.jpg")" alt="Seeking Jesus" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Html.ActionLink("Seeking Jesus", "SeekingJesus", "Apps")</h4>
                A guide to who Jesus was, what he said and did and what that means.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <img src="@Url.Content("~/Images/LifeLights99.png")" alt="Life Lights" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Html.ActionLink("Life Lights", "LifeLights", "Apps")</h4>
                Helps you visually track and prioritize the tasks in your life
            </div>
        </div>
    </div>
</div>

<h2>Other Apps</h2>

<div class="row well-sm">
    <div class="col-md-3">
        <div class="media">
            <div class="media-left">
                <img src="@Url.Content("~/Images/WheelOfNames99.png")" alt="Seeking God" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="http://www.windowsphone.com/en-us/store/app/wheel-of-names/a7255969-157d-e011-986b-78e7d1fa76f8">Wheel of Names</a>
                </h4>
                A quick and fun random name generator
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="media">
            <div class="media-left">
                <img src="@Url.Content("~/Images/TaskEstimator99.png")" alt="Task Estimator" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="http://www.windowsphone.com/en-us/store/app/task-estimator/188fe1c3-aa31-e011-854c-00237de2db9e">Task Estimator</a>
                </h4>
                Build PERT and agile task estimates
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="media">
            <div class="media-left">
                <img src="@Url.Content("~/Images/DailyQuestions99.png")" alt="Daily Questions" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="http://www.windowsphone.com/en-us/store/app/daily-questions/1446afee-c12c-e011-854c-00237de2db9e">Daily Questions</a>
                </h4>
                Ask yourself daily motivational questions
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="media">
            <div class="media-left">
                <img src="@Url.Content("~/Images/RunningLate99.png")" alt="I'm Running Late" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="http://www.windowsphone.com/en-us/store/app/i-m-running-late/60bff399-8159-4bb3-9b6a-647e4077e4f7">I'm Running Late</a>
                </h4>
                Quickly let others know you'll be late
            </div>
        </div>
    </div>
</div>
