@{
    ViewBag.Title = "ANI Project";
    ViewBag.BreadcrumbTitle = "ANI";
    ViewBag.Lead = "Exploring Machine Learning for improving daily life.";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section heading {
    @Styles.Render("~/content/weather-icons.min.css")
}

<h2>Project Overview</h2>

<div class="well">
    <p>
        This is a web services / data mining / data aggregation experiment focusing around collecting and
        analyzing information pertaining to our daily lives and using machine learning techniques and
        Advanced Narrow Intelligence (ANI) to attempt to analyze, predict, and improve users daily lives.
    </p>
    <p>
        This project is still in its infancy and only services the Columbus, Ohio area at present, but if this
        proves to be useful to people beyond as an experiment, I may scale it upward to reach more users.
    </p>
</div>

<h2>Modules</h2>

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-info text-center">
            <div class="panel-heading">
                Weather
            </div>
            <div class="panel-body">
                <br/>
                <p>
                    <i class="wi wi-day-snow-thunderstorm fa-3x"></i>
                </p>
                <p>
                    Available
                </p>
                <p>
                    @Html.ActionLink("View", "Index", "Weather", null, new {@class = "btn btn-block btn-info"})
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-info text-center">
            <div class="panel-heading">
                Frost
            </div>
            <div class="panel-body">
                <br />
                <p>
                    <i class="wi wi-dust fa-3x"></i>
                </p>
                <p>
                    Calibrating
                </p>
                <p>
                    @Html.ActionLink("View", "Frost", "Weather", null, new { @class = "btn btn-block btn-info" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">
                Traffic
            </div>
            <div class="panel-body">
                <br />
                <p>
                    <i class="fa fa-car fa-3x"></i>
                </p>
                <p>
                    In Progress
                </p>
                <p>
                    @Html.ActionLink("View", "Index", "Traffic", null, new { @class = "btn btn-block btn-primary" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">
                Ratings
            </div>
            <div class="panel-body">
                <br />
                <p>
                    <i class="fa fa-star-half-o fa-3x"></i>
                </p>
                <p>
                    In Progress
                </p>
                <p>
                    @Html.ActionLink("View", "Index", "Ratings", null, new { @class = "btn btn-block btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>
