@{
    ViewBag.Title = "ANI Project";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">ANI</li>
</ol>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Project Overview</h2>
        <p>
            This is a web services / data mining / data aggregation experiment focusing around collecting and
            analyzing information pertaining to our daily lives and using machine learning techniques and
            Advanced Narrow Intelligence (ANI) to attempt to analyze, predict, and improve users daily lives.
        </p>
        <p>
            This project is still in its infancy and only services the Columbus, Ohio area at present, but if this
            proves to be useful to people beyond as an experiment, I may scale it upward to reach more users.
        </p>

    </div>
    <div class="col-md-4">

        <h2>Supported Functions</h2>

        <ul class="list-group">
            <li class="list-group-item">

                @Html.ActionLink("Weather", "AreaWeather", "Weather", null, new {@class = "list-group-item"})

                <ul class="nav-stacked">
                    <li>@Html.ActionLink("Current Weather", "AreaWeather", "Weather", null, new {@class = "list-group-item"})</li>
                    <li>@Html.ActionLink("Weather Forecasts", "Forecasts", "Weather", null, new {@class = "list-group-item"})</li>
                    <li>@Html.ActionLink("Frost Data", "Frost", "Weather", null, new {@class = "list-group-item"})</li>
                </ul>
            </li>
            <li class="list-group-item">
                
                @Html.ActionLink("Traffic", "Index", "Traffic", null, new {@class = "list-group-item"})

                <ul class="nav-stacked">
                    <li>@Html.ActionLink("Accidents", "Accidents", "Traffic", null, new {@class = "list-group-item"})</li>
                    <li>@Html.ActionLink("Construction", "Construction", "Traffic", null, new {@class = "list-group-item"})</li>
                </ul>

            </li>
        </ul>
    </div>
</div>

<h2>Module Status</h2>

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-info text-center">
            <div class="panel-heading">
                Traffic
            </div>
            <div class="panel-body">
                <br />
                <p>
                    <i class="fa fa-car fa-3x"></i>
                </p>
                <p>
                    In Process
                </p>
                <p>
                    @Html.ActionLink("View", "Index", "Traffic", null, new { @class = "btn btn-block btn-info" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-info text-center">
            <div class="panel-heading">
                Current Weather
            </div>
            <div class="panel-body">
                <br />
                <p>
                    <i class="fa fa-sun-o fa-3x"></i>
                </p>
                <p>
                    In Process
                </p>
                <p>
                    @Html.ActionLink("View", "AreaWeather", "Weather", null, new { @class = "btn btn-block btn-info" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-success text-center">
            <div class="panel-heading">
                Weather Forecast
            </div>
            <div class="panel-body">
                <br />
                <p>
                    <i class="fa fa-cloud fa-3x"></i>
                </p>
                <p>
                    Available
                </p>
                <p>
                    @Html.ActionLink("View", "Forecasts", "Weather", null, new { @class = "btn btn-block btn-success" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-info text-center">
            <div class="panel-heading">
                Frost
            </div>
            <div class="panel-body">
                <br />
                <p>
                    <i class="fa fa-cogs fa-3x"></i>
                </p>
                <p>
                    Calibrating
                </p>
                <p>
                    @Html.ActionLink("View", "Frost", "Weather", null, new { @class = "btn btn-block btn-info" })
                </p>
            </div>
        </div>
    </div>
</div>
