@using AniWebApp.Helpers

@model Ani.Core.Models.Traffic.TrafficModel

@{
    ViewBag.Title = "Traffic Accidents";
    ViewBag.TitleSmall = string.Format("{0}", @Model.Accidents.Count());
    ViewBag.BreadcrumbTitle = "Accidents";
    ViewBag.HasListItems = Model.Accidents.Any();
    ViewBag.ListTitle = "Current Traffic Incidents";
    ViewBag.NoListItemsClass = "alert-success";
    ViewBag.NoListItemsMessage = "No Traffic Incidents";
    Layout = "~/Views/Shared/_ListLayout.cshtml";
}

@section breadcrumbs
{
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
    <li><a href="@Url.Action("Index", "Traffic")">Traffic</a></li>
}

@section scripts
{

    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
    </script>
    @Scripts.Render("~/scripts/maps.js")

    <script type="text/javascript">

        $(function() {
            loadMap();
        });

        function loadMap() {

            // Build out the core map
            var map = initializeMap("@Model.BingMapsKey", @Model.MapLat, @Model.MapLong, 11);

            // Add Construction
            @foreach (var incident in Model.Accidents)
            {
                @:addPin(map, @incident.Lat, @incident.Lng, @incident.SeverityID, '@incident.SeverityName', '@incident.TypeName', '@incident.Description', '@incident.StartTimeUTC.Value.ToLocalTime()', '@incident.EndTimeUTC.Value.ToLocalTime()', @incident.TypeID);
            }

        }

    </script>
}

@section top_content
{
    <div id='mapDiv' style="position:relative; height:400px;"></div>
}

@section table_headers
{
    <th></th>
    <th>Description</th>
    <th>Start</th>
    <th>End</th>
    <th>Type</th>
}

@section table_body
{
    @foreach (var m in Model.Accidents)
    {
        <tr class="@Html.GetTableRowClass(m.SeverityID)">
            <td>
                @if (m.SeverityID >= 3)
                {
                    <span class="fa fa-minus-circle" aria-hidden="true" title="@m.SeverityName"></span>
                }
                else if (m.SeverityID >= 2)
                {
                    <span class="fa fa-exclamation-circle" aria-hidden="true" title="@m.SeverityName"></span>
                }
                else
                {
                    <span class="fa fa-info-circle" aria-hidden="true" title="@m.SeverityName"></span>
                }
            </td>
            <td>
                @m.Description (@m.Lat, @m.Lng)
            </td>
            <td>
                @if (m.StartTimeUTC.HasValue)
                {
                    @m.StartTimeUTC.Value.ToLocalTime().ToString("g")
                }
            </td>
            <td>
                @if (m.EndTimeUTC.HasValue)
                {
                    @m.EndTimeUTC.Value.ToLocalTime().ToString("g")
                }
            </td>
            <td>
                @m.TypeName
            </td>
        </tr>
    }
}
