@model Ani.Core.Models.Traffic.TrafficModel

@{
    ViewBag.Title = "Traffic";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section breadcrumbs
{
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
}

@section scripts
{

    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
    </script>
    @Scripts.Render("~/scripts/maps.min.js")

    <script type="text/javascript">

        $(function() {
            loadMap();
        });

        function loadMap() {

            // Build out the core map
            var map = MattEland.Maps.initializeMap("@Model.BingMapsKey", @Model.MapLat, @Model.MapLong, 11);

            // Add Construction
            @foreach (var incident in Model.ConstructionEvents)
            {
                @:MattEland.Maps.addPin(map, @incident.Lat, @incident.Lng, @incident.SeverityID, '@incident.SeverityName', '@incident.TypeName', '@incident.Description', '@incident.StartTimeUTC.Value.ToLocalTime()', '@incident.EndTimeUTC.Value.ToLocalTime()', @incident.TypeID);
            }

            // Add Accidents
            @foreach (var accident in Model.Accidents)
            {
                @:MattEland.Maps.addPin(map, @accident.Lat, @accident.Lng, @accident.SeverityID, '@accident.SeverityName', '@accident.TypeName', '@accident.Description', '@accident.StartTimeUTC.Value.ToLocalTime()', '@accident.EndTimeUTC.Value.ToLocalTime()', @accident.TypeID);
            }
        }

    </script>
}

<div class="row">
    <div class="col-md-8">
        <div id='mapDiv' style="position:relative; height:400px;"></div>        
    </div>
    <div class="col-md-4">

        <h2>Select Subpage</h2>

        <div class="list-group">
            <a href="@Url.Action("Accidents", "Traffic")" class="list-group-item">
                <span class="badge">@Model.Accidents.Count</span>
                Accidents
            </a>
            <a href="@Url.Action("Construction", "Traffic")" class="list-group-item">
                <span class="badge">@Model.ConstructionEvents.Count</span>
                Construction
            </a>
        </div>
    </div>
</div>
