@model Ani.Core.Models.Traffic.TrafficModel

@{
    ViewBag.Title = "Traffic";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section breadcrumbs
{
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
}

@section scripts
{

    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
    
    </script>

    <script type="text/javascript">

        $(function () {
            getMap();
        });

        function getMap() {

            var mapOptions = {
                credentials: "@Model.BingMapsKey",
                mapTypeId: Microsoft.Maps.MapTypeId.aerial
            }

            var map = new Microsoft.Maps.Map(document.getElementById("mapDiv"), mapOptions);
        }

    </script>
}

<div class="row">
    <div class="col-md-8">
        <div id='mapDiv' style="position:relative; height:400px;"></div>        
    </div>
    <div class="col-md-4">

        <h2>Select Subpage</h2>

        <div class="list-group">
            <a href="@Url.Action("Accidents", "Traffic")" class="list-group-item">
                <span class="badge">@Model.Accidents.Count</span>
                Accidents
            </a>
            <a href="@Url.Action("Construction", "Traffic")" class="list-group-item">
                <span class="badge">@Model.ConstructionEvents.Count</span>
                Construction
            </a>
        </div>
    </div>
</div>
