@model IList<ActiveTrafficIncidentInfoSelect_Result>

@{
    ViewBag.Title = "Traffic";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
    <li class="active">Traffic</li>
</ol>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-4">

        <h2>Select Subpage</h2>

        <div class="list-group">
            @Html.ActionLink("Accidents", "Accidents", "Traffic", new { @class = "list-group-item" })
            @Html.ActionLink("Construction", "Construction", "Traffic", new { @class = "list-group-item" })
        </div>
    </div>
</div>
