@model AniWebApp.Models.TrafficModel

@{
    ViewBag.Title = "Traffic";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section breadcrumbs
{
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
}

<div class="row">
    <div class="col-md-4">

        <h2>Select Subpage</h2>

        <div class="list-group">
            <a href="@Url.Action("Accidents", "Traffic")" class="list-group-item">
                <span class="badge">@Model.Accidents.Count</span>
                Accidents
            </a>
            <a href="@Url.Action("Construction", "Traffic")" class="list-group-item">
                <span class="badge">@Model.ConstructionEvents.Count</span>
                Construction
            </a>
        </div>
    </div>
</div>
