@{
    ViewBag.Title = "ANI Project";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">ANI</li>
</ol>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p>
    Welcome to the Artificial Narrow Intelligence (ANI) project. This project is still in its infancy
    and only services the Columbus, Ohio area at present, but if this proves to be useful to people
    beyond as an experiment, I may scale it upward to reach more users.
</p>

<h2>Supported Functions</h2>

<ul class="nav-stacked">
    <li>
        Weather
        <ul class="nav-stacked">
            <li>
                <a href="@Url.Action("Forecasts", "Weather")">Weather Forecasts</a>
            </li>
            <li>
                <a href="@Url.Action("Frost", "Weather")">View / Edit Frost Data</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="@Url.Action("Traffic")">Traffic Incidents</a>
    </li>
</ul>

