@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section heading {
    @RenderSection("heading", false)
}

<div>

    <ol class="breadcrumb" role="navigation">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        @RenderSection("breadcrumbs", false)
        <li class="active">
            @(String.IsNullOrWhiteSpace(ViewBag.BreadcrumbTitle) ? ViewBag.Title : ViewBag.BreadcrumbTitle)
        </li>
    </ol>

    <h1>@ViewBag.Title</h1>

    @if (!string.IsNullOrWhiteSpace(ViewBag.Lead))
    {
        <p class="lead">
            @ViewBag.Lead
        </p>
    }

</div>

@RenderBody()