@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section heading {
    @RenderSection("heading", false)
}

<div>

    <ol class="breadcrumb" role="navigation">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        @RenderSection("breadcrumbs", false)
        <li class="active">
            @(String.IsNullOrWhiteSpace(ViewBag.BreadcrumbTitle) ? ViewBag.Title : ViewBag.BreadcrumbTitle)
        </li>
    </ol>

    <h1>@ViewBag.Title</h1>

    <div class="row">
        <div class="col-md-10 col-sm-9">
            @if (!string.IsNullOrWhiteSpace(ViewBag.Lead))
            {
                <p class="lead">
                    @ViewBag.Lead
                </p>
            }
        </div>
        <div class="col-md-2 col-sm-3 text-right">
            @RenderSection("header_side_content", false)
        </div>
    </div>

</div>

@RenderBody()