@using AniWebApp.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MattEland.com</title>

    @* Application analytics *@
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"b191a869-cc58-4dd9-9dc2-7dfdac5f32d2"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>

    @* Site includes *@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* JQuery Includes *@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/dot-luv/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    @* Enable JQuery date pickers *@
    <script type="text/javascript">
        $(function() {
            $(".datefield").datepicker();
        });
    </script>

    <meta name="description" content="Personal Development and Research Projects by Matt Eland"/>

    @RenderSection("heading", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    Menu
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class='@Html.IsActive("Home", "Index")'>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class='@Html.IsActive("Projects", "Index")'>@Html.ActionLink("Projects", "Index", "Projects")</li>
                    <li class='@Html.IsActive("Projects", "ANI")'>@Html.ActionLink("ANI", "ANI", "Projects")</li>
                    <li class='@Html.IsActive("Apps", "Index")'>@Html.ActionLink("Apps", "Index", "Apps")</li>
                    <li class='@Html.IsActive("Home", "AboutMe")'>@Html.ActionLink("About", "AboutMe", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
<div class="container body-content">
    @RenderBody()
    <br/>
    <br/>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year Matt Eland</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/bootstrap-386.js")

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    @RenderSection("scripts", required: false)
</body>
</html>
