@using AniWebApp.Helpers
@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
    ViewBag.NoListItemsClass = "alert-danger";
    ViewBag.TableClasses = "table-responsive table-hover";
}

@section heading {
    @RenderSection("heading", false)
}

@section scripts
{
    @RenderSection("scripts", false)

    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.1.4/jquery.bootgrid.min.js")
    @*@Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.1.4/jquery.bootgrid.min.css")*@
}

@section header_side_content
{
    @RenderSection("header_side_content", false)
}

@section breadcrumbs
{
    @RenderSection("breadcrumbs", false)
}

@RenderSection("top_content", false)

<div class="panel panel-default @StyleHelper.GetHiddenClass(ViewBag.HasListItems)">

    <div class="panel-heading">
        @ViewBag.ListTitle
    </div>

    <div class="panel-body">

        <table class="table @ViewBag.TableClasses"
               data-toggle="bootgrid"
               data-sorting="false"
               data-navigation="1"
               data-rowCount="25"
               data-columnSelection="false" >
            <thead>
                <tr>
                    @RenderSection("table_headers", true)
                </tr>
            </thead>
            <tbody>
                @RenderSection("table_body", true)
            </tbody>
        </table>

    </div>
</div>

<p class="alert @ViewBag.NoListItemsClass @StyleHelper.GetHiddenClass(!ViewBag.HasListItems)">
    @ViewBag.NoListItemsMessage
</p>

@RenderBody()
