@using AniWebApp.Helpers
@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
    ViewBag.NoListItemsClass = "alert-danger";
    ViewBag.TableClasses = "table-responsive table-hover";
}

@section heading {
    @RenderSection("heading", false)
}

@section scripts
{
    @RenderSection("scripts", false)
}

@section breadcrumbs
{
    @RenderSection("breadcrumbs", false)
}

<div class="panel panel-default @StyleHelper.GetHiddenClass(ViewBag.HasListItems)">

    <div class="panel-heading">
        @ViewBag.ListTitle
    </div>

    <div class="panel-body">

        <table class="table @ViewBag.TableClasses">
            <thead>
            <tr>
                @RenderSection("table_headers", true)
            </tr>
            </thead>
            <tbody>
            @RenderSection("table_body", true)
            </tbody>
        </table>

    </div>
</div>

<p class="alert @ViewBag.NoListItemsClass @StyleHelper.GetHiddenClass(!ViewBag.HasListItems)">
    @ViewBag.NoListItemsMessage
</p>

@RenderBody()
